<section class="usa-section usa-section--dark">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="tablet:grid-col-4">
        <h1 class="font-heading-xl margin-top-0 tablet:margin-bottom-0">
          Figma Token to USWDS SCSS Converter
        </h1>
      </div>
      <div class="tablet:grid-col-8 usa-prose">
        <p>
          The structure of the “out-of-the-box” token export from Figma is wildly incompatible with the USWDS system.
        </p>
        <p>
          This tool will allow you to input the Figma token export and convert it to a USWDS compatible SCSS file.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="usa-section">
  <div class="grid-container">

    <div class="grid-row grid-gap">
      <div class="desktop:grid-col-6">
        <h2>Figma input</h2>
        <p class="font-sans-sm">Paste exported JSON into the textarea below then click convert to generate SCSS compatible stuuuffff.</p>
        <label class="usa-label" for="input-type-textarea">Figma local variables input</label
          ><textarea
            class="usa-textarea"
            id="input-type-textarea"
            name="input-type-textarea"
            placeholder="Figma variables here..."
          ></textarea>
          <button type="button" class="usa-button margin-top-2">
            Convert
          </button>
      </div>
      <div class="desktop:grid-col-6">
        <h2>SCSS output</h2>
        <p class="text-italic font-sans-sm text-base">Will be here...</p>
      </div>
    </div>
  </div>
</section>