<div class="usa-overlay"></div>
<header class="usa-header site-header site-header--dark usa-header--basic">
  <div class="usa-nav-container">
    <div class="usa-navbar">
      <div class="usa-logo">
        <em class="usa-logo__text"><a href="/" [title]="site_title">{{site_title}}</a></em>
      </div>
      <button type="button" class="usa-menu-btn">Menu</button>
    </div>
  </div>
</header>
<nav aria-label="Primary navigation" class="usa-nav site-nav sticky">
  <div class="usa-nav__inner site-nav__inner">
    <button type="button" class="usa-nav__close">
      <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
        <use xlink:href="/assets/img/sprite.svg#close"></use>
      </svg>
    </button>
    <ul class="usa-nav__primary usa-accordion">
      <li class="usa-nav__primary-item">
        <a class="usa-nav-link" href="#before-getting-started"><span>Implementation</span></a>
      </li>
      <li class="usa-nav__primary-item">
        <a class="usa-nav-link" href="#token-converter"><span>Token Converter</span></a>
      </li>
      <li class="usa-nav__primary-item">
        <a class="usa-nav-link" href="#setting-up-uswds"><span>Setting up USWDS</span></a>
      </li>
    </ul>
  </div>
</nav>
<main id="main-content" class="main-content bg-base-lightest usa-prose">
  <section class="usa-section margin-0 usa-section--dark text-base-lightest">
    <div class="grid-container">
      <div class="grid-row grid-gap flex-align-center">
        <div class="tablet:grid-col-4">
          <h1 class="font-heading-xl text-primary-lighter margin-top-0 tablet:margin-bottom-0" id="introduction">
            Figma tokens to USWDS SCSS
          </h1>
        </div>
        <div class="tablet:grid-col-8 usa-prose">
          <p class="usa-intro margin-y-0">
            The structure of the “out-of-the-box” token export from Figma is wildly incompatible with the USWDS system.
          </p>
          <p>
            This tool enables you to take a Figma variable export and convert it into a USWDS compatible SCSS
            file, ready to be added to your project.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="usa-section margin-0">
    <div class="grid-container" id="before-getting-started">
      <h2 class="margin-y-0 border-top-1px border-base-light padding-top-05 usa-heading">Before getting started
      </h2>
      <h3 id="prepping-for-the-token-converter" class="usa-heading text-light margin-top-0 margin-bottom-4">
        Prepare yourself for the road ahead.
      </h3>
      <div class="grid-row grid-gap-2 flex-align-stretch">
        <div class="tablet:grid-col display-flex flex-align-stretch">
          <div class="padding-2 bg-white border-1px border-base-lighter">
            <h3 class="text-accent-cool-darker margin-top-0 margin-bottom-1"><a id="customize-info"
                class="usa-anchor"></a>Customize
            </h3>
            <p class="margin-y-0">Get started by downloading our <a class="usa-link"
                href="../assets/figma-uswds-tokens.json" title="Download tokens"
                download="Figma USWDS Tokens.JSON">Figma USWDS
                local variables</a> and then using Figma to get them just right.</p>
          </div>
        </div>
        <div class="tablet:grid-col display-flex flex-align-stretch">
          <div class="padding-2 bg-white border-1px border-base-lighter">
            <h3 class="text-accent-cool-darker margin-top-0 margin-bottom-1"><a id="extract-info"
                class="usa-anchor"></a>Extract
            </h3>
            <p class="margin-y-0">We recommend the <a class="usa-link" target="_blank" rel="noreferrer"
                href="https://www.figma.com/community/plugin/1256972111705530093/Export/Import-Variables/Export%2FImport-Variables">Export/Import
                Variables</a> plugin from the Figma Community for producing your JSON object.

            </p>
          </div>
        </div>
        <div class="tablet:grid-col display-flex flex-align-stretch">
          <div class="padding-2 bg-white border-1px border-base-lighter">
            <h3 class="text-accent-cool-darker margin-top-0 margin-bottom-1"><a id="convert-info"
                class="usa-anchor"></a>Project prep
            </h3>
            <p class="margin-y-0">Follow our <a class="usa-link" href="#setting-up-uswds">USWDS
                implementation</a> steps and processes to get your project ready to include your generated SCSS file.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="usa-section margin-0">
    <div class="grid-container" id="token-converter">
      <h2 class="margin-y-0 border-top-1px border-base-light padding-top-05 usa-heading">Token converter</h2>
      <p class="font-sans-sm usa-prose margin-y-0 maxw-mobile-lg">
        Paste exported JSON into the textarea below, then click convert to generate your custom SCSS file.</p>
      <div class="grid-row grid-gap-2">
        <form class="tablet:grid-col-6" [formGroup]="token_form" (ngSubmit)="convertTokenData()">
          <div class="grid-col">
            <label class="usa-label" for="token-import-data">Figma local variables input</label><textarea
              class="usa-textarea width-full margin-top-1 maxw-none" required
              [ngClass]="{'usa-input--error': token_form.touched && !token_form.valid}" id="token-import-data"
              formControlName="token_import_data" placeholder="Figma variables here..."></textarea>
            <div class="grid-row margin-top-1 grid-gap">
              <div class="flex-auto">
                <button type="submit" [disabled]="!token_form.valid" class="usa-button margin-left-0">
                  Convert
                </button>
              </div>
              <div class="flex-fill">
                <div
                  class="usa-alert border-top-1px border-right-1px border-bottom-1px usa-alert--slim usa-alert--no-icon"
                  *ngIf="token_form.value.token_import_data !== ''"
                  [ngClass]="{'usa-alert--error border-red': token_form.get('token_import_data')?.hasError('invalidObject') || token_form.get('token_import_data')?.hasError('invalidArray'), 'usa-alert--warning border-gold': token_form.get('token_import_data')?.hasError('invalidFormat'), 'usa-alert--success border-green': token_form.valid}">
                  <div class="usa-alert__body">
                    <p class="usa-alert__text" *ngIf="token_form.get('token_import_data')?.hasError('invalidObject')">
                      Input must in JSON format.</p>
                    <p class="usa-alert__text" *ngIf="token_form.get('token_import_data')?.hasError('invalidArray')">
                      Not a valid JSON array.</p>
                    <p class="usa-alert__text" *ngIf="token_form.get('token_import_data')?.hasError('invalidFormat')">
                      Not in Figma export format.</p>
                    <p class="usa-alert__text" *ngIf="token_form.valid">Good to go!</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="tablet:grid-col-6">
          <h3 class="margin-bottom-1 margin-top-2">SCSS Output</h3>
          <div class="grid-col" [ngClass]="{'margin-top-2': !first}"
            *ngFor="let output of _converted_data; first as first">
            <label class="usa-label margin-top-1 margin-bottom-1 text-italic" *ngIf="output.file_name !== 'SCSS Output'"
              for="scss-output">{{output.file_name}}</label>
            <pre id="scss-output"
              class="padding-2 margin-bottom-1 margin-top-0 bg-base-darkest text-primary-lighter font-mono-sm text-light border-1px border-black"
              aria-roledescription="SCSS output">{{output.string_value | removeLeadingSpaces}}</pre>
            <div class="grid-row grid-gap">
              <div class="flex-fill">
                <button type="button" [disabled]="output.file_name === 'SCSS Output'" (click)="downloadFile(output)"
                  class="usa-button usa-button--accent-warm margin-0" aria-label="Download generated SCSS file.">
                  Download SCSS file
                </button>
              </div>
              <div class="flex-auto">
                <button [disabled]="output.file_name === 'SCSS Output'" (click)="copyToClipboard(output.string_value)"
                  class="usa-button usa-button--outline margin-0 width-auto" type="button"
                  aria-label="Copy SCSS output string."><span aria-hidden="true">Copy String</span></button>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </section>
  <section class="usa-section margin-0">
    <div class="grid-container grid-gap">
      <h2 id="setting-up-uswds"
        class="margin-y-0 border-top-1px border-base-light padding-top-2 font-body-xl usa-heading">
        Setting up USWDS</h2>
      <p id="using-your-generated-scss" class="font-alt-lg text-light margin-bottom-0 margin-top-1">
        Using your generated SCSS to customize USWDS.
      </p>
      <h3 class="usa-heading margin-bottom-1 text-normal">Step 1 - Implementation</h3>
      <p class="margin-y-0">Follow the steps listed out on the <a target="_blank" rel="noreferrer"
          href="https://designsystem.digital.gov/documentation/getting-started-for-developers/">Getting Started for
          Developers</a> page to get USWDS set up and implemented in your project's environment.</p>
      <section class="margin-top-3 border-2px border-gold bg-yellow padding-1 maxw-tablet">
        <h4 id="angular-implementation-implement" class="margin-y-0 text-bold">Note for Angular implementation</h4>
        <p class="margin-top-2">Projects leveraging <a target="_blank" rel="noreferrer" class="usa-link" href="https://angular.io">Angular</a> can implement and compile USWDS without needing to
          leverage <a target="_blank" rel="noreferrer" class="usa-link" href="https://github.com/uswds/uswds-compile">USWDS Compile</a>. Follow these steps to properly implement USWDS in your Angular environment.</p>
        <p class="margin-bottom-0">First, install the <span class="font-mono-md bg-base-lighter">@uswds/uswds</span>
          package.</p>
        <pre aria-roledescription="Angular install command"
          class="padding-x-2 padding-y-1 margin-top-1 font-mono-sm font-weight-normal bg-base-darkest text-primary-lighter width-auto text-pre-wrap border-1px border-black">{{angular_example.install}}</pre>

        <p class="margin-bottom-0">Now, check your project's <span class="font-mono-md bg-base-lighter">package.json</span>
          file, you should find references for <span class="font-mono-md bg-base-lighter">@uswds/uswds</span> like so:
        </p>
        <pre aria-roledescription="Angular package JSON config"
          class="padding-x-2 padding-y-1 margin-top-1 font-mono-sm font-weight-normal bg-base-darkest text-primary-lighter width-auto text-pre-wrap border-1px border-black">{{angular_example.packageJSON}}</pre>
          <p class="margin-bottom-0">Next, head over to your <span class="font-mono-md bg-base-lighter">angular.json</span>
            file where you'll need to make the following updates:
          </p>
          <pre aria-roledescription="Angular.JSON config"
            class="padding-x-2 padding-y-1 margin-top-1 font-mono-sm font-weight-normal bg-base-darkest text-primary-lighter width-auto text-pre-wrap border-1px border-black">{{angular_example.angularJSON}}</pre>
      </section>
      <h3 class="usa-heading margin-bottom-1 text-normal">Step 2 - Customization</h3>
      <p class="margin-y-0">Now you're ready to implement your <a class="usa-link" href="#token-converter">generated SCSS file</a> into your project.</p>
      <p>Follow <a href="https://designsystem.digital.gov/documentation/getting-started/developers/phase-two-compile/" target="_blank" rel="noreferrer">USWDS's offical steps</a> to inject your generated SCSS into your project.</p>
      <section class="margin-top-3 border-2px border-gold bg-yellow padding-1 maxw-tablet">
        <h4 id="angular-implementation-compile" class="margin-y-0 text-bold">Note for Angular compiling</h4>
        <p class="margin-top-2 margin-bottom-0">If you set up your Angular project following the <a class="usa-link" href="#angular-implementation-implement">previously described pattern</a>, you'll need to be sure to include the <span class="font-mono-md bg-base-lighter">$theme-image-path</span> and <span class="font-mono-md bg-base-lighter">$theme-font-path</span> tokens with the following values:</p>
        <pre aria-roledescription="Angular SCSS path config"
          class="padding-x-2 padding-y-1 margin-top-1 font-mono-sm font-weight-normal bg-base-darkest text-primary-lighter width-auto text-pre-wrap border-1px border-black">{{angular_example.paths}}</pre>
      </section>
      <div class="grid-row padding-bottom-6 grid-gap-2">
        <div class="tablet:grid-col-6">
          <div class="usa-accordion margin-top-2">
            <h3 class="usa-accordion__heading border-1px border-base-lighter">
              <button type="button" class="usa-accordion__button bg-white" aria-expanded="true"
                aria-controls="figma-token-example" aria-label="Expand Figma token example content.">
                Figma token export example
              </button>
            </h3>
            <div id="figma-token-example" class="usa-accordion__content border-1px border-base-lighter border-top-0">
              <div class="grid-row flex-wrap tablet:grid-col flex-align-end">
                <div class="flex-fill padding-right-2 flex-s">
                  <p class="margin-0">
                    Your exported data from Figma should look something like this:
                  </p>
                </div>
                <div class="flex-auto display-flex flex-justify-end">
                  <button (click)="copyToClipboard(token_example)"
                    class="usa-button usa-button--outline margin-0 width-auto" type="button"
                    aria-label="Copy example Figma token JSON."><span aria-hidden="true">Copy</span></button>
                </div>
              </div>
              <pre aria-roledescription="Figma token example"
                class="padding-2 margin-top-1 font-mono-sm font-weight-normal bg-base-darkest text-primary-lighter text-pre-wrap border-1px border-black">{{token_example | removeLeadingSpaces}}</pre>
            </div>
          </div>
        </div>
        <div class="tablet:grid-col-6">
          <div class="usa-accordion margin-top-2">
            <h3 class="usa-accordion__heading border-1px border-base-lighter">
              <button type="button" class="usa-accordion__button bg-white" aria-expanded="true"
                aria-controls="scss-export-example" aria-label="Expand SCSS export example content.">
                Custom SCSS export example
              </button>
            </h3>
            <div id="scss-export-example"
              class="usa-accordion__content usa-prose border-1px border-base-lighter border-top-0">
              <div class="grid-row flex-wrap tablet:grid-col flex-align-end">
                <div class="flex-fill padding-right-2 flex-s">
                  <p class="margin-0">
                    Running the example Figma export through the converter will produce a SCSS file that looks like
                    this:
                  </p>
                </div>
                <div class="flex-auto display-flex flex-justify-end">
                  <button (click)="copyToClipboard(scss_example)"
                    class="usa-button usa-button--outline margin-0 width-auto" type="button"
                    aria-label="Copy example SCSS export string."><span aria-hidden="true">Copy</span></button>
                </div>
              </div>
              <pre aria-roledescription="SCSS output example"
                class="padding-2 margin-top-1 font-mono-sm font-weight-normal bg-base-darkest text-pre-wrap text-primary-lighter border-1px border-black">{{scss_example | removeLeadingSpaces}}</pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>